<html ng-app="AngularJSExample">
    <head>
          <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.17/angular.min.js"></script>
        <script lang="javascript">
        
         var myModule = angular.module('AngularJSExample', []);
         
          myModule.controller('CostController', 
          
          function ($scope) {
              
              var cc = this;
              
              cc.cost = 100.5;
              
              function update(){
                  
                  
             cc.Tax= cc.Tax_options;
                  
             cc.total = parseFloat(cc.cost) + cc.Tax + cc.Tip; 
                  
              }
              
              $scope.$watch('cc.cost', update);
              $scope.$watch('cc.Tip.', update);
              $scope.$watch('cc.cost + cc.Tax', update);
              
              //Taxing Options
                       cc.Tax_options = [
                        {amount:00.040, name:"Alabama"},
                        {amount:00.000, name:"Alaska"},
                        {amount:00.056, name:"Arizona"},
                        {amount:00.065, name:"Arkansas"},
                        {amount:00.075, name:"California"},
                        {amount:00.029, name:"Colorado"},
                        {amount:00.064, name:"Connecticut"},
                        {amount:00.000, name:"Delaware"},
                        {amount:00.060, name:"Florida"},
                        {amount:00.040, name:"Georgia"},
                        {amount:00.040, name:"Hawaii"},
                        {amount:00.060, name:"Idaho"},
                        {amount:00.063, name:"Illinois"},
                        {amount:00.070, name:"Indiana"},
                        {amount:00.060, name:"Iowa"},
                        {amount:00.065, name:"Kansas"},
                        {amount:00.060, name:"Kentucky"},
                        {amount:00.040, name:"Louisiana"},
                        {amount:00.055, name:"Maine"},
                        {amount:00.060, name:"Maryland"},
                        {amount:00.063, name:"Massachusetts"},
                        {amount:00.060, name:"Michigan"},
                        {amount:00.069, name:"Minnesota"},
                        {amount:00.070, name:"Mississippi"},
                        {amount:00.042, name:"Missouri"},
                        {amount:00.000, name:"Montana"},
                        {amount:00.055, name:"Nebraska"},
                        {amount:00.069, name:"Nevada"},
                        {amount:00.000, name:"New Hampshire"},
                        {amount:00.070, name:"New Jersey"},
                        {amount:00.051, name:"New Mexico"},
                        {amount:00.040, name:"New York"},
                        {amount:00.048, name:"North Carolina"},
                        {amount:00.048, name:"North Dakota"},
                        {amount:00.058, name:"Ohio"},
                        {amount:00.045, name:"Oklahoma"},
                        {amount:00.000, name:"Oregon"},
                        {amount:00.060, name:"Pennsylvania"},
                        {amount:00.070, name:"Rhode Island"},
                        {amount:00.060, name:"South Carolina"},
                        {amount:00.040, name:"Tennessee"},
                        {amount:00.063, name:"Texas"},
                        {amount:00.047, name:"Utah"},
                        {amount:00.060, name:"Vermont"},
                        {amount:00.043, name:"Virginia"},
                        {amount:00.065, name:"Washington"},
                        {amount:00.060, name:"West Virginia"},
                        {amount:00.050, name:"Wisconsin"},
                        {amount:00.040, name:"Wyoming"}
                    ];
                    
                    
                    cc.Tax = cc.Tax_options[0];
                      
                      
                      //Tipping options
                    cc.Tip_options = [
                        {amount:00.00, name:"No Tip"},
                        {amount:00.10, name:"10% Tip"},
                        {amount:00.15, name:"15% Tip"},
                        {amount:00.20, name:"20% Tip"}
                    ];
                               cc.Tip = cc.Tip_options[0];
                    
                    
                }
            );
                    </script>
    </head>
    <body>
        <div ng-controller="CostController as cc">
            
        
            <p>
                Cost: <input type="text" ng-model="cc.cost" placeholder="cost" /><br/>
               
              
              <p>
                  
                   <p>
                Tax: <select ng-model="cc.Tax" ng-options="s.name for s in cc.Tax_options"></select>
                </p>
                
               Tip: <select ng-model="cc.Tip" ng-options="s.name for s in cc.Tip_options"></select>
               </p>
              
            </p>
            <p>
                <!-- the angular directive both associates with the cost model and
                uses a built-in formatting capability -->
                This is your cost: {{cc.cost|currency}}
            </p>
            <p>
                This is your tax: {{cc.Tax|currency}}
            </p>
            <p>
                
                This is your Tip: {{cc.Tip|currency}}
                
            </p>
            <p ng-show="cc.total">
                This is your total: {{cc.total|currency}}
                <button ng-click="cc.total()">Process Total</button>
            </p>
            
        </div>
    </body>
</html>