<!DOCTYPE html>
<center><html ng-app="AngularJSHomeWorkTwo">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Quiz Program</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

</head>

<body>
    <div class="jumbotron">
        <h1><img src="https://www.beine-finden-ruhe.de/fileadmin/_processed_/csm_service_quiz_3822db4ba5.jpg"></h1>
        <marquee><p>Ask the student the question.  Click "Correct" 
        if answered correctly. If Incorrect click "Incorrect"!!!</p></marquee>
    </div>
<style>
   
  body { color:Red;
      
      font-family:TImes;
  }
  .container{color:green;
    
    font-size:200%;  
    
      
      
      
  }
  
    
    
    
</style>
    <div class="container">
        <div ng-controller="QuizController as qc">
            <p align="left"><span class="label label-default">Student:</span> <strong color="red">{{qc.selected_students.name}}</strong> - correct: {{qc.selected_students.correct}} - incorrect: {{qc.selected_students.incorrect}}</p>
            <p align="left"><span class="label label-default">Question:</span> {{qc.selected_questions.question}}</p>
            <p align="left"><span class="label label-default">Answer:</span> {{qc.selected_questions.answer}}</p>
            <button type="button" class="btn btn-success btn-lg" ng-click="qc.doCorrect()">Correct</button>
            <button type="button" class="btn btn-danger btn-lg" ng-click="qc.doIncorrect()">Incorrect</button>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.17/angular.min.js"></script>
    <script src="js/app2.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>

</html></center>